.submit-button {
    background-color: #6497B1;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.cancel-button {
    background-color: transparent;
    color: gray;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    justify-content: center;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.create-button {
    background-color: #6497B1;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.delete-button {
    background-color: #D1334F;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Inter', sans-serif;
}

.delete-button::before {
    display: block;
    padding-top: 5px;
    content:url("/static/images/bi_trash.svg");
}

.logout-button {
    background-color: #D1334F;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.edit-button {
    background-color: #F5A302;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Inter', sans-serif;
}

.edit-button::before {
    display: block;
    padding-top: 5px;
    content:url("/static/images/bytesize_edit.svg");
}

.prev-button {
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #6D859C;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

.next-button {
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #6D859C;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

.sign-in-button {
    background-color: #004976;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.submit-button,
.prev-button,
.next-button,
.delete-button,
.sign-in-button,
.cancel-button,
.logout-button,
.edit-button,
.create-button:hover {
    cursor: pointer;
}