.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month {
  color: #6D859C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.month > div,p {
  margin: 5px;
}

.calendar {
  width: 700px;
  height: 600px;
  display: grid;
  grid-template-rows:
    [tracks] auto
    [week-1] 1fr
    [week-2] 1fr
    [week-3] 1fr
    [week-4] 1fr
    [week-5] 1fr;
  grid-template-columns:
    [sunday] 1fr
    [monday] 1fr
    [tuesday] 1fr
    [wednesday] 1fr
    [thursday] 1fr
    [friday] 1fr
    [saturday] 1fr;
  padding: 10px;
  border-radius: 25px;
}

.placeholder {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px;
}

.calendar > div:not(.placeholder) {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

.calendar > div:not(.placeholder):not(.sunday):not(.saturday) {
  border-color: #EDEDED;
  border-style: solid;
  border-width: 1px;
}

.calendar > div:not(.placeholder):is(.sunday) {
  border-color: #EDEDED;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 1px;
}

.calendar > div:not(.placeholder):is(.saturday) {
  border-color: #EDEDED;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.calendar > div:is(.placeholder):is(.sunday) {
  border-color: #EDEDED;
  border-right-style: solid;
  border-width: 1px;
}

.calendar > div:is(.placeholder):not(.sunday):not(.saturday) {
  border-color: #EDEDED;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.calendar > div:is(.placeholder):is(.saturday) {
  border-color: #EDEDED;
  border-left-style: solid;
  border-width: 1px;
}

.sunday {
  grid-column: sunday;
}

.monday {
  grid-column: monday;
}

.tuesday {
  grid-column: tuesday;
}

.wednesday {
  grid-column: wednesday;
}

.thursday {
  grid-column: thursday;
}

.friday {
  grid-column: friday;
}

.saturday {
  grid-column: saturday;
}

.date {
  border-radius: 10px;
  margin: auto;
  width: 70%;
  padding: 3px;
  font-family: 'Merriweather', serif;
}

.today {
  background-color: #004976;
  color: #FFFFFF;
}

.schedule-container {
  display: flex;
  height: calc(100% - 30px);
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-status {
  border-radius: 20px;
  margin: auto;
  width: 75%;
  margin-top: 4px;
  margin-bottom: 3px;
  height: 16px;
  color: white;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

.schedule-status:hover {
  cursor: pointer;
}

.on-site {
  background-color: #6D859C;
}

.remote {
  background-color: #8A86F0;
}

.not-working {
  background-color: #3FB5F2;
}

.preference {
  background-color: #A1A0BA;
}

.availability {
  background-color: #9C907C;
}

.add {
  background-color: white;
  border-color: #CACCCF;
  color: #5F5E6E;
  border-style: solid;
  border-width: 1px;
}