.background-black-coral {
    background: #5F5E6E;
    color: #f7f7f7 !important;
}

.background-medium-purple {
    background: #8A86F0;
    color: #f7f7f7 !important;
}

.medium-purple {
    color: #8A86F0 !important;
}

.background-soap {
    background: #CDCCED;
    color: #f7f7f7 !important;
}

.background-american-blue {
    background: #3F3D6E;
    color: #f7f7f7 !important;
}

.background-metallic-silver {
    background: #A1A0BA;
    color: #f7f7f7 !important;
}

.background-light-slate-gray {
    background: #6D859C;
    color: #f7f7f7 !important;
}

.light-slate-gray {
    color: #6D859C !important;
}

.background-artichoke {
    background: #9C907C;
    color: #f7f7f7 !important;
}

.background-white-coffee {
    background: #E8DFD0;
    color: #f7f7f7 !important;
}

.background-columbia-blue {
    background: #D1DDE8;
    color: #f7f7f7 !important;
}

.background-oxford-blue {
    background: #002942;
    color: #f7f7f7 !important;
}

.background-dark-celurean {
    background: #004976;
    color: #f7f7f7 !important;
}

.dark-celurean {
    color: #004976 !important;
}

.background-spanish-gray {
    background: #98999B;
    color: #f7f7f7 !important;
}

.background-picton-blue {
    background: #3FB5F2;
    color: #f7f7f7 !important;
}

.picton-blue {
    color: #3FB5F2 !important;
}

.background-turqoise {
    background: #48E6C6;
    color: #f7f7f7 !important;
}

.turqoise {
    color: #48E6C6 !important;
}

.background-ufo-green {
    background: #3FF269;
    color: #f7f7f7 !important;
}

.ufo-green {
    color: #3FF269 !important;
}

.background-eucalyptus {
    background: #42FCA2;
    color: #f7f7f7 !important;
}

.background-white {
    background: #FFFFFF;
    color: #6D859C !important;
}

.transparent {
    color: transparent;
}

.irrelevant {
    color: #BBBDBE;
}

.black {
    color: black;
}