.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month {
  color: #6D859C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.month > div,p {
  margin: 5px;
}

.calendar {
  width: 700px;
  height: 600px;
  display: grid;
  overflow: auto;
  grid-template-rows:
    [tracks] auto
    [_0000-start] 1fr
    [_0000-end _0030-start] 1fr
    [_0030-end _0100-start] 1fr
    [_0100-end _0130-start] 1fr
    [_0130-end _0200-start] 1fr
    [_0200-end _0230-start] 1fr
    [_0230-end _0300-start] 1fr
    [_0300-end _0330-start] 1fr
    [_0330-end _0400-start] 1fr
    [_0400-end _0430-start] 1fr
    [_0430-end _0500-start] 1fr
    [_0500-end _0530-start] 1fr
    [_0530-end _0600-start] 1fr
    [_0600-end _0630-start] 1fr
    [_0630-end _0700-start] 1fr
    [_0700-end _0730-start] 1fr
    [_0730-end _0800-start] 1fr
    [_0800-end _0830-start] 1fr
    [_0830-end _0900-start] 1fr
    [_0900-end _0930-start] 1fr
    [_0930-end _1000-start] 1fr
    [_1000-end _1030-start] 1fr
    [_1030-end _1100-start] 1fr
    [_1100-end _1130-start] 1fr
    [_1130-end _1200-start] 1fr
    [_1200-end _1230-start] 1fr
    [_1230-end _1300-start] 1fr
    [_1300-end _1330-start] 1fr
    [_1330-end _1400-start] 1fr
    [_1400-end _1430-start] 1fr
    [_1430-end _1500-start] 1fr
    [_1500-end _1530-start] 1fr
    [_1530-end _1600-start] 1fr
    [_1600-end _1630-start] 1fr
    [_1630-end _1700-start] 1fr
    [_1700-end _1730-start] 1fr
    [_1730-end _1800-start] 1fr
    [_1800-end _1830-start] 1fr
    [_1830-end _1900-start] 1fr
    [_1900-end _1930-start] 1fr
    [_1930-end _2000-start] 1fr
    [_2000-end _2030-start] 1fr
    [_2030-end _2100-start] 1fr
    [_2100-end _2130-start] 1fr
    [_2130-end _2200-start] 1fr
    [_2200-end _2230-start] 1fr
    [_2230-end _2300-start] 1fr
    [_2300-end _2330-start] 1fr
    [_2330-end _2400-start] 1fr;
  grid-template-columns:
    [times] 1fr
    [sunday] 1fr
    [monday] 1fr
    [tuesday] 1fr
    [wednesday] 1fr
    [thursday] 1fr
    [friday] 1fr
    [saturday] 1fr;
  padding: 10px;
  border-radius: 25px;
}

.row-placeholder {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  grid-column: times;
  padding-bottom: 15px;
  padding-left: 5px;
}

.column-placeholder {
  background-color: rgba(255, 255, 255, 0.8);
  grid-row: tracks;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sunday {
  grid-column: sunday;
}

.monday {
  grid-column: monday;
}

.tuesday {
  grid-column: tuesday;
}

.wednesday {
  grid-column: wednesday;
}

.thursday {
  grid-column: thursday;
}

.friday {
  grid-column: friday;
}

.saturday {
  grid-column: saturday;
}

:is(.column-placeholder):not(.sunday) {
  border-color: #EDEDED;
  border-left-style: solid;
  border-width: 1px;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Merriweather', serif;
  border-radius: 25px;
  position: sticky;
}

.date > p {
  font-size: 15px;
}

.today {
  background-color: #004976;
  color: #FFFFFF;
}

.session-column-placeholder{
  grid-row: _0000-start / span _2330-end;
}

.session-column-placeholder:not(.sunday) {
  border-color: #EDEDED;
  border-left-style: solid;
  border-width: 1px;
}

.session-row-placeholder{
  grid-column: sunday / span saturday-end;
}

.session-row-placeholder {
  border-color: #EDEDED;
  border-top-style: solid;
  border-width: 1px;
}

.session > div {
  margin: 5px;
  mix-blend-mode: multiply;
  border-radius: 10px;
  height: calc(100% - 10px);
  text-align: center;
}