.container {
    width: 50%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: left;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}

.sign-flex-row {
    display: flex;
    flex-direction: row;
}

.description {
    margin-right: 5%;
    width: 50%;
}

.interactive-box {
    width: 50%;
}

.interactive-box > div {
    margin: 5px;
}

.sign-in-box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.sign-in-box > div {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
}

.sign-in-box > div > p {
    margin-bottom: 7px;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.sign-in-box > div > input {
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    height: 35px;
    padding: 5px;
}

.forgot-password {
    text-align: right;
    padding-bottom: 10px !important;
}

.register-link {
    text-align: left;
}

.sign-in-button {
    margin-top: 20px;
}

.name-box {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.name-box > div {
    width: 100%;
}

.name-box > div > p {
    margin-bottom: 7px;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.name-box > div > input {
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    height: 35px;
    padding: 5px;
}