.popup {
    border-radius: 10px;
    position: absolute;
    color: white;
    display: none;
    width: auto;
    height: auto;
    margin-top: 8px;
    font-size: 10px;
    overflow: hidden;
    text-align: center;
    z-index: 50;
    border-color: #CACCCF;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-family: 'Merriweather', serif;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.popup > div, hr {
    margin: 5px;
}

.popup > p {
    margin: 2px;
}

.popup > :is(.shift-name) {
    font-size: 13px;
    font-weight: bolder;
}

div > :is(.shift-hours, .shift-schedule) {
    font-size: 10px;
    margin: 2px;
    text-align: left;
}

.shift-button-flex {
    display: flex;
    height: auto;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shift-button-flex > div {
    margin: 5px;
}

.select-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select-flex-row > div {
    margin: 3px;
}