/*the container must be positioned relative:*/
.custom-select {
    margin: auto;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: black transparent transparent transparent;
}

/*style the items (options), including the selected item:*/
.select-selected {
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 25px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items div {
    color: black;
    padding: 8px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-top: 5px;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 5s ease-in-out;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}