.sidebar {
	position: sticky;
	right: 0;
	width: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

.logo::before {
    display: block;
    padding-top: 5px;
    content:url("/static/images/logo.svg");
	transform: scale(.7);
}

.dropdown-button {
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #6D859C;
    font-family: 'Inter', sans-serif;
    margin: 5px;
	margin-right: 15px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
	color: white;
}

p {
	margin: 5px;
}

.main-link, .dropdown-link {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: "Inter", sans-serif;
}

.selection-link {
	display: none;
	flex-direction: column;
	font-family: "Inter", sans-serif;
}

.dropdown-link {
	justify-content: left !important;
	padding-left: 30px;
}

.main-link:hover {
	cursor: pointer;
}

.main-link > p {
	width: auto;
}

.dashboard {
    color: white;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.dashboard::before {
    display: block;
    padding-top: 5px;
    content:url("/static/images/sidebar_dashboard.svg");
	transform: scale(.7);
}