@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html {
    scroll-behavior: smooth !important;
    height: 100%;
}

img {
    text-indent: -10000px;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #418C7A;
}

body {
    background: #E7E7E7;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

p {
    font-size: 18px;
    font-weight: 300;
}
