.container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-button {
    margin-left: auto !important;
}

table {
    font-family: 'Inter', sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
}

tr:is(.header) {
    background-color: #002942;
    color: white;
    text-align: center;
}

tr:is(.header) > th:first-child {
    border-top-left-radius: 15px;
    border-style: hidden; /* hide standard table (collapsed) border */
}

tr:is(.header) > th:last-child {
    border-top-right-radius: 15px;
    border-style: hidden; /* hide standard table (collapsed) border */
}
  
td, th {
    border: 1px solid transparent;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

tr:last-child > td:first-child {
    border-bottom-left-radius: 15px;
}

tr:last-child > td:last-child {
    border-bottom-right-radius: 15px;
}

.container > div,table {
    margin: 5px;
}

.action-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action-flex > div {
    margin-left: 5px;
    margin-right: 5px;
}