<div class="sidebar background-oxford-blue" style="display:None;">
    <a href="{% url 'dashboard_page' %}"><div class="logo"></div></a>

    <div class="sidebar-link" style="width: 100%; margin-right: 5px;">
    </div>

    <div class="logout-button" style="margin:30px;margin-top:auto;">Logout</div>
</div>