.sign-in-box {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.sign-in-box > div {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
}

.sign-in-box > div > div > p {
    margin-bottom: 7px;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.sign-in-box > div > div > input {
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    height: 35px;
    padding: 5px;
}

.sign-in-button, .cancel-button {
    margin-top: 20px;
}