<div class="sign-in-box background-white">
    <div>
      <p>Department</p>
      <input type="text" id="department-name">
    </div>
    
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 100%; margin-right: 5px;">
            <p>Room</p>
            <div class="custom-select">
                <select>
                    <option selected>Room</option>
                    <option>Room 1</option>
                    <option>Room 2</option>
                </select>
            </div>
        </div>

        <div style="width: 100%; margin-left: 5px;">
            <p>Contract</p>
            <div class="custom-select">
                <select>
                    <option selected>Contract</option>
                    <option>Contract 1</option>
                    <option>Contract 2</option>
                </select>
            </div>
        </div>
    </div>

    <div style="width: auto; margin-right: auto;">
        <p>Minimum onsite</p>
        <input type="number" id="minimum-onsite" style="text-align: center;">
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div class="sign-in-button" style="width: 75%;margin-right: 5px; margin-left: 5px;" >Create</div>
        <div class="cancel-button" style="width: 25%;margin-right: 5px; margin-left: 5px;" onclick="off()">Cancel</div>
    </div>
</div>