<div class="sign-in-box background-white">    
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 80%; margin-right: 5px;">
            <p>Room</p>
            <input type="text" id="room-name">
        </div>

        <div style="width: 20%; margin-left: 5px;">
            <p>Capacity</p>
            <input type="number" id="capacity" style="text-align: center;">
        </div>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div class="sign-in-button" style="width: 75%;margin-right: 5px; margin-left: 5px;" >Create</div>
        <div class="cancel-button" style="width: 25%;margin-right: 5px; margin-left: 5px;" onclick="off()">Cancel</div>
    </div>
</div>