<div class="sign-in-box background-white">
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 50%; margin-right: 5px;">
            <p>Start Date</p>
            <input type="date" id="start-date" style="text-align: center;">
        </div>

        <div style="width: 50%; margin-left: 5px;">
            <p>End Date</p>
            <input type="date" id="end-date" style="text-align: center;">
        </div>
    </div>
    
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: calc(100% / 3); margin-right: 5px;">
            <p>MiWH Weight</p>
            <input type="number" id="miwh-weight" style="text-align: center;">
        </div>

        <div style="width: calc(100% / 3); margin-right: 5px; margin-left: 5px;">
            <p>MaWH Weight</p>
            <input type="number" id="mawh-weight" style="text-align: center;">
        </div>

        <div style="width: calc(100% / 3); margin-left: 5px;">
            <p>MOS Weight</p>
            <input type="number" id="mos-weight" style="text-align: center;">
        </div>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 50%; margin-right: 5px;">
            <p>Preference Weight</p>
            <input type="number" id="preference-weight" style="text-align: center;">
        </div>

        <div style="width: 50%; margin-left: 5px;">
            <p>RC Weight</p>
            <input type="number" id="rc-weight" style="text-align: center;">
        </div>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 50%; margin-right: 5px;">
            <p>DEPS Weight</p>
            <input type="number" id="deps-weight" style="text-align: center;">
        </div>

        <div style="width: 50%; margin-left: 5px;">
            <p>DET Weight</p>
            <input type="number" id="det-weight" style="text-align: center;">
        </div>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div class="sign-in-button" style="width: 75%;margin-right: 5px; margin-left: 5px;">Create</div>
        <div class="cancel-button" style="width: 25%;margin-right: 5px; margin-left: 5px;" onclick="off()">Cancel</div>
    </div>
</div>