<div class="sign-in-box background-white">
    <div>
      <p>Contract</p>
      <input type="text" id="contract-name">
    </div>
    
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 50%; margin-right: 5px;">
            <p>Minimum work hour</p>
            <input type="number" id="minimum-work-hour" style="text-align: center;">
        </div>

        <div style="width: 50%; margin-left: 5px;">
            <p>Maximum work hour</p>
            <input type="number" id="maximum-work-hour" style="text-align: center;">
        </div>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div class="sign-in-button" style="width: 75%;margin-right: 5px; margin-left: 5px;" >Create</div>
        <div class="cancel-button" style="width: 25%;margin-right: 5px; margin-left: 5px;" onclick="off()">Cancel</div>
    </div>
</div>