<div class="sign-in-box background-white">
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 50%; margin-right: 5px;">
            <p>First name</p>
            <input type="text" id="first-name">
        </div>

        <div style="width: 50%; margin-left: 5px;">
            <p>Last name</p>
            <input type="text" id="last-name">
        </div>
    </div>

    <div>
        <p>Username</p>
        <input type="text" id="username">
    </div>

    <div>
        <p>Password</p>
        <input type="password" id="password">
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div class="sign-in-button" style="width: 100%;margin-right: 5px; margin-left: 5px;" >Create</div>
    </div>
</div>