<div class="sign-in-box background-white">
    <div>
      <p>Emails</p>
      <textarea type="text" id="emails"></textarea>
    </div>

    <div style="width: 100%; margin-right: 5px;">
        <p>Department</p>
        <div class="custom-select">
            <select>
                <option selected>Department</option>
                <option>Data</option>
                <option>Engineering</option>
            </select>
        </div>
    </div>
    
    <div style="width: 100%; margin-right: 5px;">
        <p>Role</p>
        <div class="custom-select">
            <select>
                <option selected>Role</option>
                <option>Department Manager</option>
                <option>Employee</option>
            </select>
        </div>
    </div>

    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <div class="sign-in-button" style="width: 75%;margin-right: 5px; margin-left: 5px;" >Invite</div>
        <div class="cancel-button" style="width: 25%;margin-right: 5px; margin-left: 5px;" onclick="off()">Cancel</div>
    </div>
</div>