{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/button.css' %}" />
{% endblock css %}

{% block headerjs %}
<script>
  need_not_authenticated();
</script>
{% endblock headerjs %}

{% block content %}
  <div class="container">
    <h2 class = "dark-celurean">Gamer.com</h2>
    <div class="sign-flex-row">
        <div class="description black">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="interactive-box">
          <div class="sign-in-box background-white">
            <div>
              <p>Email</p>
              <input type="text" id="email">
            </div>

            <div>
              <p>Password</p>
              <input type="password" id="password">
            </div>

            <div class="forgot-password light-slate-gray">Forgot your password?</div>
            <div class="sign-in-button">Sign in</div>
          </div>
          <div class="register-link light-slate-gray">Dont have an account yet? <a href="{% url 'register_page' %}" style="color: black !important">Register now</a></div>
        </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'javascript/form/login.js' %}"></script>
{% endblock %}