{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
{% endblock css %}

{% block headerjs %}
<script>
  need_authenticated();
</script>
<script src="{% static 'javascript/dashboard_variables.js' %}"></script>
<script src="{% static 'javascript/schedule_crud.js' %}"></script>
<script src="{% static 'javascript/session_initiation.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="month">
      <p>20 - 25 May, 2022</p>
      <div class="prev-button"></div>
      <div class="next-button"></div>
    </div>
    <div class="calendar background-white">
    </div>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'javascript/dashboard.js' %}"></script>
{% endblock %}