{% extends 'base.html' %}
{% load static %}

{% block title %}
    Employee
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overlay.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form/employee.css' %}" />
{% endblock css %}

{% block headerjs %}
<script>
    auth_department();
</script>
<script src="{% static 'javascript/select.js' %}"></script>
<script src="{% static 'javascript/overlay.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="overlay">
    <div class="overlay-container">
        {% include 'form/invite_employee.html' %}
    </div>
  </div>
  <div class="container">
    <div class="create-button"  onclick="on()">+ Invite</div>
    <table class="light-slate-gray">
        <tr class="header">
            <th>Employee name</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Syams Ramadan</td>
            <td>Engineering</td>
            <td>
                <div class="action-flex">
                    <div class="edit-button"></div>
                    <div class="delete-button"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td>Irham Ilman</td>
            <td>Data</td>
            <td>
                <div class="action-flex">
                    <div class="edit-button"></div>
                    <div class="delete-button"></div>
                </div>
            </td>
        </tr>
    </table>
  </div>
{% endblock content %}

{% block js %}
<script>
    initiate_custom_select();
</script>
{% endblock %}