{% extends 'base.html' %}
{% load static %}

{% block title %}
    Room
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overlay.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form/room.css' %}" />
{% endblock css %}

{% block headerjs %}
<script>
    auth_company();
</script>
<script src="{% static 'javascript/select.js' %}"></script>
<script src="{% static 'javascript/overlay.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="overlay">
    <div class="overlay-container">
        {% include 'form/create_room.html' %}
    </div>
  </div>
  <div id="overlay-edit">
    <div class="overlay-container">
    </div>
  </div>
  <div class="container">
    <div class="create-button"  onclick="on()">Create</div>
    <table class="light-slate-gray">
        <tr class="header">
            <th>Room name</th>
            <th>Room capacity</th>
            <th>Action</th>
        </tr>
    </table>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'javascript/form/room.js' %}"></script>
<script>
    initiate_custom_select();
</script>
{% endblock %}