{% extends 'base.html' %}
{% load static %}

{% block title %}
    Calendar
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/button.css' %}" />
  <link rel="stylesheet" href="{% static 'css/select.css' %}" />
  <link rel="stylesheet" href="{% static 'css/popup.css' %}" />
{% endblock css %}

{% block headerjs %}
<script>
    need_authenticated();
</script>
<script src="{% static 'javascript/dashboard_variables.js' %}"></script>
<script src="{% static 'javascript/availability_crud.js' %}"></script>
<script src="{% static 'javascript/preference_crud.js' %}"></script>
<script src="{% static 'javascript/schedule_crud.js' %}"></script>
<script src="{% static 'javascript/popup.js' %}"></script>
<script src="{% static 'javascript/select.js' %}"></script>
<script src="{% static 'javascript/add_button_submit.js' %}"></script>
<script src="{% static 'javascript/popup_initiation.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="calendar-container">
    <div class="month">
      <p>May, 2022</p>
      <div class="prev-button"></div>
      <div class="next-button"></div>
    </div>
    <div class="calendar background-white">
    </div>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'javascript/schedule.js' %}"></script>
{% endblock %}