{% extends 'base.html' %}
{% load static %}

{% block title %}
    Shift
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overlay.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form/schedule_request.css' %}" />
{% endblock css %}

{% block headerjs %}
<script>
    auth_department();
</script>
<script src="{% static 'javascript/select.js' %}"></script>
<script src="{% static 'javascript/overlay.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="overlay">
    <div class="overlay-container">
        {% include 'form/create_schedule_request.html' %}
    </div>
  </div>
  <div class="container">
    <div class="create-button"  onclick="on()">Create</div>
    <table class="light-slate-gray">
        <tr class="header">
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>MiWH Weight</th>
            <th>MaWH Weight</th>
            <th>MOS Weight</th>
            <th>RC Weight</th>
            <th>Preference Weight</th>
            <th>DEPS Weight</th>
            <th>DET Weight</th>
            <th>Action</th>
        </tr>
    </table>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'javascript/form/schedule_request.js' %}"></script>
{% endblock %}